* {
    margin: 0;
    padding: 0;
    color: #c4bdbd;
}
.w {
    width: 960px;
    margin: 0 auto;
}
.header {
    width: 100%;
    height: 60px;
    background-color: grey;
}
.header > div {
    height: 100%;
}

.logo {
    width: 500px;
    float: left;
    line-height: 60px;
    letter-spacing: 5px;

}

.user {
    float: right;
}

.user > ul > li {
    margin-top: 10px;
    margin-right: 10px;
    display: inline-block;
}

.banner {
    width: 100%;
    height: 260px;
    background-color: greenyellow;
}

.w_list {
    height: 100%;
    position: relative;
}

.list > ul {
    width: 120px;
    height: 30px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.list > ul > li {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    text-align: center;
    line-height: 20px;
    list-style: none;
    font-size: 12px;
    float: left;
    background: rgba(211, 209, 209, 0.9);
    cursor: pointer;
    position: relative;
}

.list > ul > li:hover {
    background: rgba(255, 255, 255, 0.8);
}

.list .active {
    background: rgba(255, 255, 255, 0.8);
}

.active:before {
    content: "";
    display: inline-block;
    position: absolute;
    top: -10px;
    left: 0;
    width: 20px;
    height: 10px;
    background: rgba(255, 255, 255, 0.8);
}

.nav {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #c4bdbd;
    padding-top: 19px;
    box-sizing: border-box;
}

.t_nav > ul {
    width: 320px;
    height: 40px;
}

.t_nav ul li {
    width: 90px;
    height: 100%;
    text-align: center;
    line-height: 40px;
    background-color: gainsboro;
    float: left;
    list-style: none;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border: 1px solid gainsboro;
}

.t_nav .nav_active {
    background: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid white;
}

.container {
    margin-top: 10px;
    display: flex;
    flex-flow: row wrap;   /* 换行 */
}

.container > div {
    padding: 0 40px;
    border: 1px solid #c4bdbd;
    height: 100px;
    margin: 5px;
}

.footer {
    width: 100%;
    height: 80px;
    background-color: grey;
}

.f_con {
    padding-top: 20px;
    box-sizing: border-box;
    text-align: center;
}










